@charset "utf-8";
/*
	Description: initial setting
	Version: 1.0
	Author: idealgrow
*/
/*
===== CONTENTS ===========================================
*/
h1 {
    font-size: 30px;
    font-weight: bold;
    color: #2b2d2e;
    margin-bottom: 25px;
}
h1 span {
    font-size: 40px !important;
    margin-right: 5px;
    color: #2b2d2e;
}
.subTit {
    margin-top: 40px;
    margin-bottom: 25px;
    font-weight: bold;
}
.subTit span {
    font-size: 30px !important;
    margin-right: 5px;
    color: #2b2d2e;
}
.bankTit {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.bankTit + ul {
    padding-left: 20px;
}
.bankTit + ul li {
    list-style: disc;
}
